/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Estilos para el navegacion */
.navegacion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navegacion .enlaces {
  text-decoration: none;
  color: #333;
  position: relative;
}

.navegacion .enlaces::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.8s ease-in-out;
}

.navegacion .enlaces:hover::after {
  width: 100%;
}

.navegacion ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navegacion ul li {
  margin-right: 20px;
}

.navegacion ul li .enlaces {
  color: white;
  font-weight: bold;
  transition: color 0.3 ease-in-out;
  font-size: 15px;
}

.navegacion ul li .enlaces:hover {
  color: red;
  transition-delay: 0.5;
}

/* Estilos para el logo */
.logo {
  max-width: 100px;
  transition: filter 0.3s ease-in-out;
}

.logo:hover {
  filter: brightness(1.2);
}

/* Estilos para los enlaces del navegacion */
.navegacion a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
  margin-top: 100px; /* Ajusta el margen superior para evitar que el contenido se superponga con la barra de navegación */
}

h2 {
  margin-top: 70px;
  color: #333;
  text-align: center;
}

.lista-perros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 20px;
}

.perro,
.perro-perdido {
  border: 1px solid #ccc;
  padding: 10px;
}

.perro img,
.perro-perdido img {
  width: 100%;
  height: auto;
}

.perro,
.perro-perdido {
  border: 1px solid #ccc;
  padding: 10px;
}

.perro img,
.perro-perdido img {
  width: 100%;
  height: 300px;
}

.nombre-del-perro {
  font-size: 20px;
  text-align: center;
}

.descripcion-perro {
  text-align: justify;
  font-size: 20px;
  margin: 15px;
  /* padding: 10px 10px; */
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacto-boton {
  padding: 10px 15px;
  display: flex;
  background-color: rgb(34, 173, 34);
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 7px;
}

.contacto-boton:hover {
  background-color: green;
}

.llamada {
  background-color: rgb(191, 37, 37);
}

.llamada:hover {
  background-color: rgb(213, 10, 10);
}

.face {
  background-color: rgb(54, 54, 225);
}

.face:hover {
  background-color: blue;
}

.telefono {
  font-weight: bold;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.derechos-autor {
  color: white;
}

.autor {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.autor:hover {
  color: gold;
}





/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .navegacion {
    flex-direction: column;
    align-items: center;
  }

  .navegacion ul {
    display: flex;
    flex-direction: row; /* Muestra los enlaces en una columna */
    /* gap: 3px; */
    justify-content: space-around;
    /* justify-content: space-between; */
  }

  .lista-perros {
    grid-template-columns: 1fr; /* Cambia a una columna */
    margin-top: 20px; /* Agrega un margen superior */
  }

  .botones {
    display: flex;
    flex-direction: row;
  }

  .contacto-boton {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas más grandes */
@media only screen and (min-width: 769px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 985px) {

  .contacto-boton {
    padding: 10px 25px;
  }
  .botones {
    display: flex;
    flex-direction: row;
  }

  .contacto-boton {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
} 

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 1093px) {

  .contacto-boton {
    padding: 10px 35px;
  }
  .botones {
    display: flex;
    flex-direction: row;
  }

  .contacto-boton {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
} 

.carousel-item img {
  max-width: 100%;
  height: auto;
}

section {
  margin-top: 120px;
}